<!--
/**
 * @name HomeView - Random
 * @type: Display View
 * @desc: Creates a plethora of different random types. (Strings, integers, passwords, etc.)
 * 
 * Last Updated: 10/24/21
 * Last Edit By: tfannin@asocket.net
 */

// - © 2021 aSocket LLC
// - Author: aSocket LLC
// ------------------------------

// - View
// ------------------------------
-->
    
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div id="genesis-body" hidden>
            <!-- All body content should be within this divider. -->
        </div>
    </body>
</html>