<!--
/**
 * @name HomeView - Clock
 * @type: Display View
 * @desc: Start a timer or stopwatch, create alarms, compare global times, view/convert to unix, etc. - HomeView
 * 
 * Last Updated: 11/05/21
 * Last Edit By: tfannin@asocket.net
 */

// - © 2021 aSocket LLC
// - Author: aSocket LLC
// ------------------------------

// - View
// ------------------------------
-->
    
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div id="genesis-body" hidden>
            <!-- All body content should be within this divider. -->
        </div>
    </body>
</html>