<!--
/**
 * @name HomeView - Search
 * @type: Display View
 * @desc: Browse the web in a private window. - HomeView
 * 
 * Last Updated: 11/12/21
 * Last Edit By: default@asocket.net
 */

// - © 2021 aSocket LLC
// - Author: aSocket LLC
// ------------------------------

// - View
// ------------------------------
-->
    
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div id="genesis-body" hidden>
            <!-- All body content should be within this divider. -->
        </div>
    </body>
</html>